<div id="home">
  <div class="container">

    <div class="row jumbotron text-center">
      <h1 class="col">Coin Clash - Project Pequod</h1>
    </div>

    <div class="row">
      <div class="col money text-center">$0</div>
    </div>

    <div class="row">
      <div class="col">
        <p>Cryptocoins</p>
        <ul class="list-group">
          {{#each coins}}
          <li data-id="coin-{{this.symbol}}" class="row align-content-center">
          <div class="col">
            <a href="#">{{this.name}}</a>
            <img class="coinicon" src="images\\cryptocurrency-icons\\{{this.symbol}}@2x.png">
          </div>
          <p class="col">$ {{this.value}}</p>
          <div class="col">
            <button class="btn btn-danger  delete">-</button>
            <button class="btn btn-success delete">+</button>
          </div>
        </li>
          {{else}}
          <p>No Coins!?</p>
          {{/each}}
        </ul>

        <button id='getPrices'>Get Prices</button>
      </div>

      <div class="col-auto d-flex" style="flex-flow: column nowrap;">
        <p>Market Exchanges</p>
        <div class="list-group">
          {{#each markets}}
          <a href="#" data-id="market-{{this.name}}" class="list-group-item list-group-item-action bg-info text-white">{{this.name}}</a>
          {{else}}
          <p>No Markets!?</p>
          {{/each}}
        </div>
      </div>
    </div>

    <p>{{msg}}</p>
    <form class="clearfix mb-4" action="POST">
      <div class="form-group">
        <label for="example-text">Example Text</label>
        <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
      </div>
      <div class="form-group">
        <label for="example-description">Example Description</label>
        <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
      </div>
      <button id="submit" class="btn btn-primary float-right">Submit</button>
    </form>
    <h3>Examples:</h3>
    <ul id="example-list" class="list-group">
      {{#each examples}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      {{/each}}
    </ul>

  </div>

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>