<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Cryptocurrency Simulator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Learn More</a>
      </li>
    </ul>
  </div>
</nav>

<br>

<div class="container">

  <br>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" id="startBlurb">
      <p>
        <span id="intro">Let's face it:</span> cryptocurrency is <i>complicated.</i> These days, the mechanics of trading
        cryptocurrencies are difficult to understand -- but at the core of all of the chaos there lies a very simple economic
        principle. This app is designed to simulate the bare-bones basics of trading currencies; see for yourself how beneath
        the bluster of the cutting-edge currency market, this commodity isn't so different than any other.
      </p>
    </div>
    <div class="col-lg-1"></div>

    <div class="container-fluid bg-transparent text-center">
      <br>
      <div class="row">
        <h1 class="col">Realtime Market Values</h1>
      </div>
      <div id="rtList" class="row">
        {{#each coins}}
        <div class="col d-flex align-items-center">
          <img class="coinicon" title="{{this.name}} ({{this.symbol}})" alt="{{this.name}}" src="images/cryptocurrency-icons/{{this.symbol}}@2x.png">
          <p class="rtValue m-0 ml-1 text-nowrap" data-id="{{this.symbol}}"></p>
        </div>
        {{else}}
        <p class="col">There are currently no Coins being tracked.</p>
        {{/each}}
      </div>
      <br>
      <div class="row">
        <div class="col p-0 progress rounded-0 bg-transparent">
          <div class="progress-bar bg-info" style="width: 50%"></div>
          <p class="m-0 text-dark">Next Update in: <span id="timeUntilUpdate">time</span></p>
        </div>
      </div>
    </div>


    <br>

  </div>

  <br>

    <div class="col-md-6" id="coinBox">
      <br>
      <p id="coinHeader" class="col">Transaction Panel</p>
      <p style="text-align: center">Use this panel to buy and sell your coins.</p>
      <br>

      <ul class="p-0">
        {{#each coins}}
        <li data-id="{{this.symbol}}" class="row mx-0">
          <div class="col align-self-center d-flex flex-nowrap">
            <img class="coinicon" src="images/cryptocurrency-icons/{{this.symbol}}@2X.png">
            <span class="ml-1 align-self-center">{{this.name}}</span>
          </div>
          <p class="col align-self-center m-0" id="nonsense">$ <span class="value" id="coinValue{{this.id}}"></span></p>
          <div class="col">
            <button class="btn btn-danger  minus" data-id="{{this.symbol}}">-</button>
            <button class="btn btn-success  plus" data-id="{{this.symbol}}">+</button>
            <strong>
              <div data-id="{{this.symbol}}" class="transTotal qty" style="position: relative; left: 30px;">0</div>
            </strong>
          </div>
        </li>
        {{else}}
        <p>No Coins!?</p>
        {{/each}}
      </ul>

      <br><br>

      <!-- Trigger/Open The Modal -->
      <button id="confirmTrans">Confirm Transaction</button>

    </div>

    <div class="col-md-6">

      <br>

        <div class="card" id="bankCard" style="width: 18rem; text-align: center;">
          <div class="card-body">
            <h5 class="card-title">Finance Report</h5>
            <p class="card-text">Use this to track your portfolio's performance.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="bankHead">Starting Investment:</span> $ <span id="startingInvestment"></span> </li>
            <li class="list-group-item"><span class="bankHead">Available Cash:</span> $ <span id="availableCash"></span> </li>
            <li class="list-group-item"><span class="bankHead">Coin Bank Value:</span> $ <span id="coinBankValue"></span> </li>
            <li class="list-group-item"><span class="bankHead">Total Value:</span> $ <span id="totalValue"></span> </li>
            <li class="list-group-item"><span class="bankHead"># Transactions Made:</span> <span id="transMade"></span> </li>
          </ul>
      </div>

      <br><br>

    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12" id="coinBank">
      <p id="coinHeader" style="position: relative; left: -75px;">Coin Bank</p>
      <br>
      <ul class="p=0">
        {{#each coins}}
        <li data-id="{{this.symbol}}" class="row mx-0">
          <div class="col">
            <img class="coinicon" src="images/cryptocurrency-icons/{{this.symbol}}@2X.png">
            <a href="#">{{this.name}}</a>
          </div>
          <p class="col">$ <span class="value" id="bankValue{{this.id}}">n/a</span></p>
          <div class="col">
            <strong>
              <div class="qty" id="bankTotal{{this.id}}" style="position: relative; left: 30px;">0</div>
            </strong>
          </div>
        </li>
        {{else}}
        <p>No Coins!?</p>
        {{/each}}
      </ul>
      <br>
    </div>

    <br>
<div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  </div>


  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <br>
      <p style="text-align: center;"><strong>Remember,</strong> the goal for many who work with cryptocurrencies is to play
        the
        market and earn a profit. Try to buy coins at a low price, and sell them when you think the price is at its peak! </p>
      <div class="container" id="modalContainer">
        <br>
        <ul class="p-0">
          {{#each coins}}
          <li data-id="{{this.symbol}}" class="row mx-0">
            <div class="col">
              <img class="coinicon" src="images/cryptocurrency-icons/{{this.symbol}}@2X.png">
              {{this.name}}
            </div>
            <p class="col text-nowrap">$ <span class="value" id="modalValue{{this.id}}">{{this.value}}</span></p>
            <div class="col">
              <strong>
                <div class="qty" id="modalTotal{{this.id}}" style="position: relative; left: 30px;">0</div>
              </strong>
            </div>
          </li>
          {{else}}
          <p>No Coins!?</p>
          {{/each}}
        </ul>
      </div>
      <br>
      <button id="finalTrans">Finalize Transaction</button>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>