<div id="home">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Cryptocurrency Simulator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Learn More</a>
      </li>
    </ul>
  </div>
</nav>

<br>

  <div class="container">


    
    <br>
    
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10" id="startBlurb">
        <p>
          <span id="intro">Let's face it:</span> cryptocurrency is <i>complicated.</i> These days, the mechanics of trading cryptocurrencies are difficult to understand -- but at the core of all of the chaos there lies a very simple economic principle. This app is designed to simulate the bare-bones basics of trading currencies; see for yourself how beneath the bluster of the cutting-edge currency market, this commodity isn't so different than any other. 
        </p>
      </div>
      <div class="col-lg-1"></div>

      
    <br><br>

    </div>

    <br><br>


    <div class="row" id="secondBox">
      <div class="col-md-6" id="coinBox">

      <br>
        <p id="coinHeader">Transaction Panel</p>
        <p style="text-align: center">Use this panel to buy and sell your coins.</p>
        <br><br>
        <ul class="list-group">
          {{#each coins}}
          <li data-id="coin-{{this.symbol}}" class="row align-content-center">
          <div class="col" id="coinIcon">
            <img class="coinicon" src="images/cryptocurrency-icons/{{this.symbol}}@2x.png">
            <a href="#" class="coinName">{{this.name}}</a>
          </div>
          <p class="col" id="nonsense">$ {{this.value}}</p>
          <div class="col">
            <button class="btn btn-danger  delete" id="minus{{this.id}}">-</button>
            <button class="btn btn-success delete" id="plus{{this.id}}">+</button>
            <strong><div id="transTotal{{this.id}}" class="purchaseNumber" style="position: relative; left: 30px;">0</div></strong>
          </div>
        </li>
          {{else}}
          <p>No Coins!?</p>
          {{/each}}
        </ul>

        <br><br>

        <!-- Trigger/Open The Modal -->
        <button id="confirmTrans">Confirm Transaction</button>

      </div>


      <div class="col-md-6">

        <br>

        <div class="card" id="bankCard" style="width: 18rem; text-align: center;">
          <div class="card-body">
            <h5 class="card-title">Finance Report</h5>
            <p class="card-text">Use this to track your portfolio's performance.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="bankHead">Current Balance:</span> <span id="currentBalance"></span> </li>
            <li class="list-group-item"><span class="bankHead">Starting Balance:</span> <span id="startingBalance"></span> </li>
            <li class="list-group-item"><span class="bankHead">Balance spent: </span> <span id="balanceSpent"></span> </li>
            <li class="list-group-item"><span class="bankHead">Net Change: </span> <span id="netChange"></span> </li>
          </ul>
      </div>

      
    <br><br>
        
      </div>

    </div>

    <br><br>
    <div class = "row">
      <div class="col-md-12" id="coinBank">
        <p id="coinHeader" style="position: relative; left: -75px;">Coin Bank</p>
        <br><br>
        <ul class="list-group">
          {{#each coins}}
          <li data-id="coin-{{this.symbol}}" class="row align-content-center">
          <div class="col" id="coinIcon">
            <img class="coinicon" src="images/cryptocurrency-icons/{{this.symbol}}@2x.png">
            <a href="#">{{this.name}}</a>
          </div>
          <p class="col">$ {{this.value}}</p>
          <div class="col">
            <strong><div id="bankTotal{{this.id}}" style="position: relative; left: 30px;">0</div></strong>
          </div>
        </li>
          {{else}}
          <p>No Coins!?</p>
          {{/each}}
        </ul>

      <br>
      <br><br>

    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV -->
  
    </div>

    </div>

    
    
    
    <br><br><br>

  </div>


  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <br>
    <p style="text-align: center;"><strong>Remember,</strong> the goal for many who work with cryptocurrencies is to play the market and earn a profit. Try to buy coins at a low price, and sell them when you think the price is at its peak! </p>
    <div class="container" id="modalContainer">
    <br>
    <ul class="list-group">
          {{#each coins}}
          <li data-id="coin-{{this.symbol}}" class="row align-content-center">
          <div class="col" id="coinIcon">
            <img class="coinicon" src="images/cryptocurrency-icons/{{this.symbol}}@2x.png">
            <a href="#">{{this.name}}</a>
          </div>
          <p class="col">$ {{this.value}}</p>
          <div class="col">
            <strong><div id="modalTotal{{this.id}}" style="position: relative; left: 30px;">0</div></strong>
          </div>
        </li>
          {{else}}
          <p>No Coins!?</p>
          {{/each}}
        </ul> 

    </div>
      <br>
      <button id="finalTrans">Finalize Transaction</button>
  </div>

</div>




</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
